<ion-header mode="ios">
  <ion-toolbar  color="primary">
    <ion-title class="font">Login</ion-title>
  </ion-toolbar>
</ion-header>
  <ion-content>
    <ion-item id="img" lines="none">
      <img src="assets/img/logo.png" alt="">
    </ion-item>

    <ion-card class="shadow-none">
      <ion-card-header class="text-center">
        <ion-card-title class="text-3xl font-bold">Welcome</ion-card-title>
        <ion-card-subtitle class="text-lg">You are just one step away</ion-card-subtitle>
      </ion-card-header>

      <ion-item class="mt-2">
        <ion-input label="Mobile" labelPlacement="stacked" type="number" placeholder="Enter Mobile" 
        [(ngModel)]="mobile"
        (keyup)="mobileCheck($event)" pattern="[0-9]{10}"
        (input)="onMobileInput($event)"></ion-input>
      </ion-item>
    
<ion-item>
  <h1>{{OTP}}</h1><br>
</ion-item>



  <ng-otp-input
  *ngIf="isOTPSent"
  class="flex justify-center m-2"
  [config]="{ length: 4 }"
  (onInputChange)="onOtpChange($event)"></ng-otp-input>
<ion-button
(click)="isOTPSent ? getOtp() : sendOTP()"
shape="round"
class="flex justify-center m-auto "
color="secondary"
>
<span>{{ isOTPSent ? "Login" : "SEND OTP" }}</span></ion-button
>

      <div class="text-center" id="account" >
        <a href="/register" class="" id="four">Create Account</a>
      </div>
    </ion-card>
  </ion-content>

  <ion-loading class="custom-loading" trigger="four" message="Loading..." [duration]="1000"></ion-loading>
  <ion-loading class="custom-loading" trigger="five" message="Loading..." [duration]="1000"></ion-loading>