ion-item{
    margin: unset;
    box-shadow: none;
}
ion-title{
    box-shadow: none;
}
#img{
    border: none;
    margin: unset;
}
ion-card{
    margin: unset;
    // margin-top: 52px;
}

#card{
    margin-top: 28px;
}