<ion-header mode="ios">
  <ion-toolbar class="text-2xl border-0">
    <img src="/assets/img/logo.png" width="90px" height="90px" alt="" class="border-0 text-xs">
    <ion-item slot="end" style="border: 0px;" lines="none" class="text-Ubuntu font-bold border-0 text-lg">MH25 A 2525 <br>
      Fortuner
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class=" text-white"color="primary">
    <ion-card-title>
      <div class="flex text-white">
        <h1 class="p-2 text-4xl"><ion-icon name="wallet-outline"></ion-icon></h1>
        <h1 class="p-2 text-3xl">Wallets</h1>
      </div>
    </ion-card-title>
    <img alt="Silhouette of mountains" src="assets/img/user1.avif" width="30%" class="m-auto rounded-full" />
    <ion-card-header>
      <ion-card-title class=" text-Ubuntu m-auto text-white">Krushna Deshmukh</ion-card-title>
      <h2 class="text-Ubuntu m-auto text-lg text-white">Wallet Balance</h2>
      <div class="flex m-auto text-lg">
        <h1 class="p-2 text-white"><ion-icon name="card-outline"></ion-icon></h1>
        <h3 class="p-1.5 text-white">1000$</h3>
      </div>
      <div class="rounded-lg text-center "><ion-button  color="secondary">Add Money</ion-button></div>
    </ion-card-header>
  </ion-card>


<!-- PassBook Section -->

  <ion-text color="black">
    <div class="font-bold ml-4 mt-2 text-lg">
    <h3>Passbook</h3></div>
  </ion-text>
  <div class="pt-4 rounded-xl">
  <ion-card color="" height="10%">
    <ion-card-header>
      <div class="font-bold text-lg text-black font-Ubuntu">
       <span >Added to wallet</span></div>
       <p class="ml-80 absolute text-green-600 font-bold">₹100</p>
  
       <div class="font-light text-black font-Ubuntu">
      <span >01 Jan 2021 09:06 AM</span>
    </div>
    </ion-card-header>
  
  </ion-card>
  </div>
  <div class="">
    <ion-card color="">
      <ion-card-header>
        <div class="font-bold text-lg text-black font-Ubuntu">
         <span>Cashback earned</span></div>
         <p class="ml-80 absolute text-green-600 font-bold">₹100</p>
    
         <div class="font-light text-black font-Ubuntu">
        <span >03 Jan 2021 11:06 AM</span>
      </div>
      </ion-card-header>
    
    </ion-card>
    </div>
</ion-content>