#one{
    height: 40px;
    background-image: url("/assets/img/first1.jpeg");
  }
  img{
    position: relative;
    top: 10%;
  }
  ion-item{
    border: 0px;
  }
  ion-icon{
    font-size: 50px;
  }
  .main-header {
  //   height: 45vh;
  //   width: 1150%;
  // //   background: linear-gradient(90deg, var(--ion-color-tertiary) 10%, var(--ion-color-primary) 100%);
  //   box-shadow: 0 1px 10px var(--ion-color-light);
  //   border-radius: 0 0 20% 30%;
  //   margin-left: 0vh;
  //   margin-top: 1px;
  //   background:#3D348B ;
  
    height: 45vh;
    width: 150%;
  //   background: linear-gradient(90deg, var(--ion-color-tertiary) 10%, var(--ion-color-primary) 100%);
    box-shadow: 0 1px 10px var(--ion-color-light);
    border-radius: 0 0 50% 50%;
    margin-left: -14vh;
    margin-top: -60px;
    background:#3D348B ;
  }
  
  // ion-row{
  //   offset: top 0;
  //   offset:bottom 0;
  //   margin-top: 63px;
  // }