
 
  <ion-header mode="ios">
  <ion-toolbar class="text-2xl border-0">
    <img src="/assets/img/logo.png" width="90px" height="90px" alt="" class="border-0">
    <ion-item slot="end" style="border: 0px;" lines="none" class="text-Ubuntu font-bold border-0 text-lg">MH25 A 2525 <br>
      Fortuner
    </ion-item>
  </ion-toolbar>
</ion-header> 



<div class="main-header">
  <ion-grid>
<!--     
    <ion-row class="">
      <span class="w-3"></span>
      <ion-col class="bg-[#FF9130] rounded-2xl m-2 shadow-lg border-white border-2 border-solid  "> 
         <div class="flex text-center p-1">
          <div class="flex  text-white">
            <ion-icon name="car"></ion-icon>
          </div>
          <div class="flex-1 text-center  text-white">
            <h2 class="font-bold text-xl">10</h2>
            <h1 class="font-normal text-sm">Total Rides</h1>
  
          </div>
        </div> 
        
    </ion-col>
      <ion-col class="bg-[#FFC436] rounded-2xl m-2 shadow-lg  border-white border-2 border-solid">
        <div class="flex text-center p-1">
          <div class="flex text-white">
            <ion-icon name="star-outline"></ion-icon>
          </div>
          <div class="flex-1 text-center text-white">
            <h2 class="font-bold text-xl">10</h2>
            <h1 class="font-normal text-sm">Total Ratings</h1>
          </div>
        </div>
  
      </ion-col> 
    </ion-row> -->
  </ion-grid>
</div>


<ion-content>
  
  <ion-chip class="w-22 h-13 bg-white">
    <ion-icon name="pin" color="primary"></ion-icon>
    <ion-label class="text-lg font-bold">Upcoming Trips</ion-label>
    <ion-icon name="close"></ion-icon>
  </ion-chip>
  <!-- <ion-card-title class="text-center">Upcoming Trips</ion-card-title> -->

  <ion-card class="shadow-md rounded-3xl">
    <ion-card-header class=" bg-[#F3EEEA]" lines="none">
      <div class="flex">
        <img src="/assets/img/user1.avif" width="50px" alt="" height="50px" class="rounded-xl">
        <h1 class="flex-1 p-2 font-bold text-lg text-black">Krushna Deshmukh</h1>

      </div>
    </ion-card-header>
    <ion-item class="rounded-2xl">
      <ion-label>
        <p class="text-sm text-gray-400">Pickup</p><span class="text-base text-black">Tuljapur</span>
      </ion-label>
    </ion-item>
    <ion-item lines="none" class="rounded-2xl">
      <ion-label>
        <p class="text-sm text-gray-400">Drop</p><span class="text-base text-black">Pune</span>
      </ion-label>
    </ion-item>
  </ion-card>


  <ion-card class="shadow-md rounded-3xl">
    <ion-card-header class="bg-[#F3EEEA]" lines="none">
      <div class="flex">
        <img src="/assets/img/user1.avif" width="50px" alt="" height="50px" class="rounded-xl">
        <h1 class="flex-1 p-2">Krushna Deshmukh</h1>

      </div>
    </ion-card-header>
    <ion-item class="rounded-2xl">
      <ion-label>
        <p class="text-sm text-gray-400">Pickup</p><span class="text-base text-black">Tuljapur</span>
      </ion-label>
    </ion-item>
    <ion-item lines="none" class="rounded-2xl">
      <ion-label>
        <p class="text-sm text-gray-400">Drop</p><span class="text-base text-black">Pune</span>
      </ion-label>
    </ion-item>
  </ion-card>


  <ion-card class="shadow-md rounded-3xl">
    <ion-card-header class="bg--[#F3EEEA]" lines="none">
      <div class="flex">
        <img src="/assets/img/user1.avif" width="50px" alt="" height="50px" class="rounded-xl">
        <h1 class="flex-1 p-2">Krushna Deshmukh</h1>

      </div>
    </ion-card-header>
    <ion-item class="rounded-2xl">
      <ion-label>
        <p class="text-sm text-gray-400">Pickup</p><span class="text-base text-black">Tuljapur</span>
      </ion-label>
    </ion-item>
    <ion-item lines="none" class="rounded-2xl">
      <ion-label>
        <p class="text-sm text-gray-400">Drop</p><span class="text-base text-black">Pune</span>
      </ion-label>
    </ion-item>
  </ion-card>

  <ion-card class="shadow-md rounded-3xl">
    <ion-card-header class="bg-[#F3EEEA]" lines="none">
      <div class="flex">
        <img src="/assets/img/user1.avif" width="50px" alt="" height="50px" class="rounded-xl">
        <h1 class="flex-1 p-2">Krushna Deshmukh</h1>

      </div>
    </ion-card-header>
    <ion-item class="rounded-2xl">
      <ion-label>
        <p class="text-sm text-gray-400">Pickup</p><span class="text-base text-black">Tuljapur</span>
      </ion-label>
    </ion-item>
    <ion-item lines="none" class="rounded-2xl">
      <ion-label>
        <p class="text-sm text-gray-400">Drop</p><span class="text-base text-black">Pune</span>
      </ion-label>
    </ion-item>
  </ion-card>





</ion-content>

