#one{
    height: 40px;
    background-image: url("/assets/img/first1.jpeg");
  }
  img{
    position: relative;
    top: 10%;
  }
  ion-item{
    border: 0px;
  }
  ion-icon{
    font-size: 50px;
  }