ion-card{
    margin: unset;
    background-color: primary;
    box-shadow: none;
}
ion-datetime{
    margin: auto;
    font-size: 50px;
    
}

ion-content{
    margin: auto;
}

ion-card-header{
    margin: unset;
}