<ion-header mode="ios">
  <ion-toolbar  color="primary">
    <ion-title class="font">Bookings</ion-title>
  </ion-toolbar>
</ion-header>




<ion-content>
      <ion-datetime presentation="date"></ion-datetime>
<div class="mt-4px">
  <ion-card color="">
    <ion-card-header class="text-3xl text-Ubuntu text-white " color="primary">
      <div class="flex">
        <ion-icon name="person-circle-outline" class="p-3 text-4xl"></ion-icon>
        <ion-card-title class="p-4">Krushna Deshmukh</ion-card-title>
      </div>
   
      <ion-item>
        <ion-label>
          <h3 class="text-3xl">pick up</h3>
          <p></p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <h3>Drop off</h3>
          <p></p>
        </ion-label>
      </ion-item>
    </ion-card-header>
    <ion-button>submit</ion-button>
  </ion-card>

</div>